Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Add /tools/certs/ to the release package.
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Correct the location.
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add /tools/certs/ to the release package. (#263)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.6] Add /tools/certs/ to the release package. (#264)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Rebuild 1.6.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Rebuild 1.6.1 (#265)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#266)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#267)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#268)
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Trigger 1.6 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.6 build (#269)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.6.1 (#260)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#270)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Scan base image for vulerabilities during build
  pkg/build/scanner.go
  pkg/manifest.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.5.5 for ISTIO-SECURITY-2020-006
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.6.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.6.2 (#273)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.5.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.5.5 (#275)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Build163
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build163 (#276)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build for 1.5.6
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/copyright-banner-go.txt
  common/scripts/fix_copyright_banner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build for 1.5.6 (#277)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Add flag to control ignoring of base image vulnerability results
  example/manifest.yaml
  pkg/build/build.go
  pkg/build/scanner.go
  pkg/manifest.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#278)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/copyright-banner-go.txt
  common/scripts/fix_copyright_banner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix lint errors
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Scan base image for vulerabilities during build (#271)
  example/manifest.yaml
  pkg/build/build.go
  pkg/build/scanner.go
  pkg/manifest.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger163build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger163build (#279)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build Istio 1.4.10
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

CNI is no longer a dependency, it's part of istio/istio
  README.md
  example/manifest.yaml
  pkg/build/docker.go
  pkg/model/model.go
  pkg/validate/validate.go
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove dead, broken code
  pkg/build/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build Istio 1.4.10 (#280)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
