Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Use MARKDOWN_LINT_ALLOWLIST instead of _WHITELIST (#318)
  Makefile.core.mk
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#319)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#321)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#322)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#323)
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Set release managers as CODEOWNERS for release-1.7
  CODEOWNERS
Due: none

Set release managers as CODEOWNERS for release-1.7 (#324)
  CODEOWNERS
Due: none

Prep release-builder for mixer removal
  pkg/build/grafana.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

update common
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

replace master
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Updates for 1.7 (#325)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Prep release-builder for mixer removal (#307)
  pkg/build/grafana.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#326)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.7 in istio/release-builder@release-1.7
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a 1.7.0-alpha.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a 1.7.0-alpha.1 build (#328)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.7.0-alpha.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.7.0-alpha.1 (#329)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.7.0-alpha.1 (#330)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.7 in istio/release-builder@release-1.7 (#327)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove mixer dashboards
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove mixer dashboards (#332)
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#331)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove standalone operator manifest
  pkg/build/archive.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.6.6 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.6.6 build (#333)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Remove standalone operator manifest (#320)
  pkg/build/archive.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Here comes the rain again
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

add proxy_workspace dep auto resolving type
  README.md
  example/manifest.yaml
  pkg/model/model.go
  pkg/source.go
  pkg/util/files.go
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix
  pkg/util/files.go
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix
  pkg/util/files.go
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.6.6 build... again
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit
