Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Trigger publish of 1.6.12 (#434)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

remove cleanup.sh
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Include .sh files in samples (#433)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.7 in istio/release-builder@release-1.7
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.7 in istio/release-builder@release-1.7 (#435)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#436)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#437)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#438)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.7.4 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.7.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#442)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.8] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.8] Automated branching step 4 (#443)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8 (#444)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.8 alpha release
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.8 alpha release (#445)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish the 1.9 alpha
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish the 1.9 alpha (#446)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger release 1.6.13 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger release 1.6.13 build (#447)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Mirroring images to gcr in case of docker rate limit issues for large users.
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.7.4 build (#440)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Changing dryrun repo to point to envoy rather than envoy-wasm
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish 1.6.13
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish istio 1.6.13
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

second alpha release for community testing
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

second alpha release for community testing (#453)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update to envoy to use istio/envoy
  example/manifest.yaml
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add new istio-extension-dashboard
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update to envoy to use istio/envoy and add new dashboard (#454)
  example/manifest.yaml
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#449)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish 1.7.4 (#441)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Bump 1.8 alpha tag to create a new build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Bump 1.8 alpha tag to create a new build (#455)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit
