Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

trigger build for 1.9.0-alpha.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger build for 1.9.0-alpha.0 (#510)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#511)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix comment
  pkg/branch/branch.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add StopPublishingLatest
  pkg/branch/StopPublishingLatest.go
  pkg/branch/branch.go
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix Step1 makefile call. Add release-notes-none label.
  pkg/branch/updateDependencies.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix lint error
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Start of release branch automation
  example/manifest_branch.yaml
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/branch/createBranches.go
  pkg/branch/createToolImages.go
  pkg/branch/setupProw.go
  pkg/branch/updateCodeOwners.go
  pkg/branch/updateCommonFiles.go
  pkg/branch/updateCommonFilesCommon.go
  pkg/branch/updateDependencies.go
  pkg/cmd/root.go
  pkg/model/model.go
  pkg/util/git.go
  release/branch.sh
  release/trigger-branch
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update PR name to not include [release-x] for first steps on master
  pkg/branch/branch.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add code to update `master` to release in manifests
  pkg/branch/branch.go
  pkg/branch/istioReleaseBuilderUpdates.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Don't fail if you can't create a branch.
  pkg/branch/createBranches.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix envoy label, add step 6 to fix make update-common
  pkg/branch/FixUpdates.go
  pkg/branch/branch.go
  pkg/branch/updateCommonFilesCommon.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add code to get VERSION form Makefile
  pkg/branch/updateDependencies.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Code review comments
  pkg/branch/branch.go
  pkg/branch/setupProw.go
  pkg/branch/updateCodeOwners.go
  pkg/branch/updateDependencies.go
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove FixUpdate, update common file update to get tag from gcr.io
  pkg/branch/FixUpdates.go
  pkg/branch/branch.go
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix tag for 1.9.0 alpha
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Fix hub and tag for helm charts
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Do not force a publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix hub and tag for helm charts (#507)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#512)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#513)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#515)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.8.2 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.8.2 build (#516)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#517)
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#518)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Set release managers as CODEOWNERS for release-1.9
  CODEOWNERS
Due: none

update for 1.9
  CODEOWNERS
Due: none

update common file to 1.9
  common/Makefile.common.mk
Due: none
