Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Automator: update common-files@master in istio/release-builder@master (#413)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#414)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger release 1.6.10 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

resubmit
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

resubmit (#416)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-build (#417)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update trigger-publish (#418)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.6.10 build
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.6.10 build (#419)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#420)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#421)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.6.11 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.7.3 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.6.11 publish (#423)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.7.3 publish (#424)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/.yamllint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#425)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/.yamllint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.yamllint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#426)
  common/.commonfiles.sha
  common/config/.yamllint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#427)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.6 in istio/release-builder@release-1.6
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.6 in istio/release-builder@release-1.6 (#428)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#429)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.6.12 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.6.12 build (#430)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Re build 1.6.12
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Re build 1.6.12 (#431)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#432)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Include .sh files in samples
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish of 1.6.12
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit
