Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Trigger 1.6.9 (#396)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build for 1.6.9
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.6.9.... again
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build169 (#399)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#398)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix spelling errors in readme.md (#392)
  release/README.md
Due: none

Fix local build on linux
  README.md
Due: none

use suggested command
  README.md
Due: none

Fix local build on linux (#395)
  README.md
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#400)
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#401)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add whitespace
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update common files (#213) (#402)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#403)
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#404)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.7.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.7.1 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.7.1 build (#405)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.7.1 build (#407)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.6.9 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.6.9 publish (#408)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Copy all tools/certs/Makefile*
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Copy all tools/certs/Makefile* (#409)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.7.1 publish (#406)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#410)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#411)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#412)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
