Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Trigger RC.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger RC.1 (#376)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish RC1 (#375)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Fix client-go versioning (#357)
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger RC2 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#378)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove ISTIO_VERSION variable
  pkg/util/command.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#380)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove ISTIO_VERSION variable (#379)
  pkg/util/command.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger RC2 build (#377)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish RC2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish RC2 (#381)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger RC3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.5.10 (last 1.5) build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.5.10 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.5.10 build (#384)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#385)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger RC3 build (#382)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish RC3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish RC3 (#386)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger RC4 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger RC4 build (#389)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish RC4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger RC4 build (#390)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish RC4 (#391)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.7.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update README.md
  release/README.md
Due: none

Trigger 1.7.0 build (#387)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.7.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.7.0 (#388)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.5.10
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.5.10 (#393)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Fix linter issues
  release/README.md
Due: none

Use addon as a grafana dashboards path
  pkg/build/grafana.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Use addon as a grafana dashboards path (#394)
  pkg/build/grafana.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.6.9
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
