Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Update build file and trigger alpha.3 build again (#472)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update to point to envoyproxy/envoyproxy
  example/manifest.yaml
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update to point to envoyproxy/envoyproxy (#474)
  example/manifest.yaml
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Mirroring images to gcr (#448)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#473)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8 (#475)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.7 in istio/release-builder@release-1.7
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#477)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.7 in istio/release-builder@release-1.7 (#476)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.6 in istio/release-builder@release-1.6
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.6 in istio/release-builder@release-1.6 (#478)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.7.5 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.7.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.7.5 build (#479)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.7.5 build (#481)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-build (#482)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update trigger-publish (#483)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Mirroring images to gcr (#448) (#484)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8 (#485)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger rc.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger rc.1 build (#486)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger rc.1 build again
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger rc.1 build again (#487)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-publish to 1.8.0-rc.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update trigger-publish to 1.8.0-rc.1 (#488)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.8.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.8.0 build (#489)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.8.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8.0 (#490)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.7.5 (#480)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#491)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
