Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8 (#562)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.9.0 (#560)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.8.3 release build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.8.3 release build (#563)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.8.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8.3 (#564)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1-9-0 (#561)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update make gen to call format. Run gofumpt
  Makefile.core.mk
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/helm.go
  pkg/cmd/root.go
  pkg/model/model.go
  pkg/publish/cmd.go
  pkg/publish/gcs.go
  pkg/publish/github.go
  pkg/source.go
  pkg/util/command.go
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update make gen to call format. Run gofumpt (#565)
  Makefile.core.mk
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/helm.go
  pkg/cmd/root.go
  pkg/model/model.go
  pkg/publish/cmd.go
  pkg/publish/gcs.go
  pkg/publish/github.go
  pkg/source.go
  pkg/util/command.go
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#556)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Remove dump kubernetes from release
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove dump kubernetes from release (#566)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add osx-arm64 target to release
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#568)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add osx-arm64 target to release (#567)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update trigger-build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-build (#569)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update trigger-build (#571)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-publish (#570)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#572)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#573)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.7.9
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.9.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.9.1 (#575)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

retrigger
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger191 (#576)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#577)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish 1.9.1.
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.9.1. (#578)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#579)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#580)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
