Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

publish 1.9.0-beta.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

build 1.9.0-beta.1 (#543)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish 1.9.0-beta.1 (#544)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/metallb.yaml
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8 (#545)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/metallb.yaml
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#546)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.7.7 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.7.7 build (#547)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.7.7 build (#548)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.7 in istio/release-builder@release-1.7
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.7 in istio/release-builder@release-1.7 (#549)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.7.7 build (#550)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#551)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

More documentation on doing release banch cutting, especially manually
  README.md
  release/README.md
Due: none

Fix lint errors
  README.md
Due: none

Change for Golang 1.16rc1 and go mod tidy
  Makefile.core.mk
Due: none

Publish 1.7.7
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.7.7 (#552)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Code review comments
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/branch/istioReleaseBuilderUpdates.go
  pkg/branch/updateCommonFiles.go
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Release branch automation (#514)
  Makefile.core.mk
  README.md
  example/manifest_branch.yaml
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/branch/createBranches.go
  pkg/branch/createToolImages.go
  pkg/branch/istioReleaseBuilderUpdates.go
  pkg/branch/setupProw.go
  pkg/branch/stopPublishingLatest.go
  pkg/branch/updateCodeOwners.go
  pkg/branch/updateCommonFiles.go
  pkg/branch/updateCommonFilesCommon.go
  pkg/branch/updateDependencies.go
  pkg/cmd/root.go
  pkg/model/model.go
  pkg/util/git.go
  release/README.md
  release/branch.sh
  release/trigger-branch
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.9.0-rc.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish 1.9.0-rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#553)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

build 1.9.0-rc.0 (#554)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish 1.9.0-rc.0 (#555)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Do not ignore vulnerabilities when building
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Code review comment
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix dry run job by using appropriate repo
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix dry run job by using appropriate repo (#558)
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

do not ignore CVE vulns in base images (#557)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#559)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.9.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish 1-9-0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit
