Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

update dashboards
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

bump tag
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

fix
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish istio 1.6.13 (#452)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

update envoy repo for 1.8
  example/manifest.yaml
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix
  example/manifest.yaml
  release/trigger-build
  test/publish.sh
Due: dry-run_release-builder, build-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit

Add extension dashboard (#456)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix dashboard for 1.8 (#457)
  example/manifest.yaml
  release/build.sh
  release/trigger-build
  test/publish.sh
Due: dry-run_release-builder, build-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit

publish 1.8.0-alpha.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.8.0-alpha.2 (#459)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update archive.go
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#461)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update archive.go (#460)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update archive.go (#462)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#463)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#464)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#465)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.8 in istio/release-builder@release-1.8 (#466)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#467)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#468)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#469)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#470)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Create 1.8-alpha.3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Create 1.8-alpha.3 build (#471)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
