Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2020-05-20T22-13-03
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Update PR name to not include [release-x] for first steps on master
  pkg/branch/branch.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Code review comments
  pkg/branch/branch.go
  pkg/branch/setupProw.go
  pkg/branch/updateCodeOwners.go
  pkg/branch/updateDependencies.go
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix Step1 makefile call. Add release-notes-none label.
  pkg/branch/updateDependencies.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix comment
  pkg/branch/branch.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add StopPublishingLatest
  pkg/branch/StopPublishingLatest.go
  pkg/branch/branch.go
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix lint error
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove FixUpdate, update common file update to get tag from gcr.io
  pkg/branch/FixUpdates.go
  pkg/branch/branch.go
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Rename file
  pkg/branch/stopPublishingLatest.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update for 1.9 branching - pulls version from trigger-branch
  release/trigger-branch
Due: none

Missing / in command
  pkg/branch/setupProw.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update to not use manifest VERSION in `make gen` during step 1
  pkg/branch/updateDependencies.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.9] stop publishing latest tags
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

update common file to 1.9 (#521)
  common/Makefile.common.mk
Due: none

Set release managers as CODEOWNERS for release-1.9 (#519)
  CODEOWNERS
Due: none

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#523)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

keep master for test-infra
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.9] stop publishing latest tags (#522)
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Use release-1.9 branch instead of master
  common/Makefile.common.mk
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Code review comments
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9
  common/.commonfiles.sha
Due: none

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#524)
  common/.commonfiles.sha
Due: none

run UPDATE_BRANCH=release-1.9 make update-common
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

run UPDATE_BRANCH=release-1.9 make update-common (#525)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Use release-1.9 branch instead of master (#520)
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#526)
  common/.commonfiles.sha
Due: none

Publish 1.8.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8.2 (#527)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

update common file for 1.9
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build 1.9.0-rc.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.9.0-rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Build 1.9.0-rc.0 (#529)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Re-build 1.9.0-rc.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Relabel to beta
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Ignore vulnerability for beta build
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Change from rc to beta
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

build 1.9.0-beta.0 (#531)
  release/build.sh
  release/trigger-build
Due: dry-run_release-builder, build-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit

Publish 1.9.0-beta.0 (#530)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
